    <!-- OTHER OPTIONS -->
    <div class="col s12 m4 l3 other-options-container">
        <h3 class="other-options-title">Just Here to Browse?</h3>
        <p class="other-options-desc">These features are available to people without an account!</p>
        <ul class="no-user-links">
            <li class="no-user-link"><a href="/events">Find Events</a></li>
            <li class="no-user-link"><a href="/forums">Browse Our Forums</a></li>
        </ul>
    </div>