<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CommUnity Connect</title>
  <!-- MATERIAL ICON FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- NOTO SANS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <!-- MATERIALIZE -->
  <link rel="stylesheet" href="../../public/css/materialize.min.css">
  <!-- CUSTOM STYLE -->
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<body>

  <!-- NAVBAR -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <img class="logo-image" src="../public/images/homepage/communityConnectLogo.png" alt="Community Connect Logo">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Homepage</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/directory">Our Members</a></li>
        <li><a href="/forums">Our Forum</a></li>
        {{#if logged_in}}
        <li><a href="/profile">Profile</a></li>
        <li><a id="logout-link">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <!-- RESPONSIVE SIDENAV -->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Homepage</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/directory">Our Members</a></li>
    <li><a href="/forums">Our Forum</a></li>
    {{#if logged_in}}
    <li><a href="/profile">Profile</a></li>
    <li><a id="logout-link-sidenav">Logout</a></li>
    {{else}}
    <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
  <main>
    {{{body}}}
  </main>

  <!-- FOOTER -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="white-text text-lighten-4">Please let us know your feedback or if you have any questions!</p>
          <a href="/contact" class="waves-effect waves-light btn" id="contact-us-button">Contact Us!</a>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Website Directory</h5>
          <ul>
            <li><a class="white-text text-lighten-3" href="/">Homepage</a></li>
            <li><a class="white-text text-lighten-3" href="/events">Events</a></li>
            <li><a class="white-text text-lighten-3" href="/directory">Members</a></li>
            <li><a class="white-text text-lighten-3" href="/forums">Forum</a></li>
            {{#if logged_in}}
            <li><a class="white-text text-lighten-3" href="/profile">Profile</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        2024 Community Connect
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <!-- MATERIALIZE JS and JQUERY -->
  <script src="../../public/js/jquery-3.7.1.slim.min.js"></script>
  <script src="../../public/js/materialize.min.js"></script>
  <script>
    // SIDENAV INIT
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });
  </script>
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}

</body>

</html>