<div class="container container-edit">
    <h3>Create Forum</h3>
    <form id="addPostForm">
        <div class="input-field">
            <input id="forum-title" type="text" />
            <label class="grey-text"for="forum-title">Forum Title</label>
        </div>
        <div class="input-field">
            <textarea name="Forum-Desciption" id="forum-description"></textarea>
            <label class="grey-text"for="forum-description">What should people post about?</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">
            Create Forum
        </button>
    </form>
</div>