<div class="container container-edit">
    <h3>Add Event</h3>
    <form id="addEventForm">
        <div class="input-field">
            <input id="event-name" type="text" />
            <label class="grey-text"for="edit-email">Event Name</label>
        </div>
        <div class="input-field">
            <input id="event-date" type="date" />
            <label class="grey-text"for="edit-phone">Event Date</label>
        </div>
        <div class="input-field">
            <input id="event-time" type="time" />
            <label class="grey-text"for="event-time">Start Time</label>
        </div>
         <div class="input-field">
            <input id="event-end-time" type="time" />
            <label class="grey-text"for="event-end-time">End Time</label>
        </div>
        <div class="input-field">
            <input id="event-city" type="text" />
            <label class="grey-text"for="event-city">City</label>
        </div>
        <div class="input-field">
            <input id="event-state" type="text" />
            <label class="grey-text"for="event-state">State Initials</label>
        </div>
         <div class="input-field">
            <input id="event-desc" type="text" />
            <label class="grey-text"for="event-desc">Describe Your Event</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">
            Add Event
        </button>
    </form>
</div>

<script src="../public/js/addEvent.js"></script>