<div class="container container-edit">
    <div class="title-container">
        <div class="bolder-container">
            <h1 class="black-text bold">{{title}}</h1>
        </div>
    </div>
    <h3>Add Post</h3>
    <form id="addPostForm" data-forum-id={{forum_id}}>
        <div class="input-field">
            <input id="post-title" type="text" />
            <label class="grey-text" for="post-title">Post Title</label>
        </div>
        <div class="input-field">
            <textarea name="postBody" id="post-body"></textarea>
            <label class="grey-text" for="post-body">What's on your mind?</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">
            Add Post
        </button>
    </form>
</div>
<script src="../public/js/forum.js"></script>