<div class="container container-edit">
    <h3>Edit Profile</h3>
    <form id="editProfileForm">
        <div class="input-field">
            <input id="edit-email" type="email" />
            <label class="grey-text"for="edit-email">Email</label>
        </div>
        <div class="input-field">
            <input id="edit-phone" type="text" />
            <label class="grey-text"for="edit-phone">Phone Number</label>
        </div>
        <div class="input-field">
            <input id="current-password" type="password" />
            <label class="grey-text"for="current-password">Current Password</label>
        </div>
        <div class="input-field">
            <input id="new-password" type="password" />
            <label class="grey-text"for="new-password">New Password</label>
        </div>
        <div class="input-field">
            <input id="confirm-password" type="password" />
            <label class="grey-text"for="confirm-password">Confirm New Password</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">
            Save Changes
        </button>
    </form>
</div>

<script src="../public/js/editprofile.js"></script>