<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommUnity Connect</title>
    <!-- MATERIAL ICON FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- NOTO SANS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- MATERIALIZE -->
    <link rel="stylesheet" href="../public/css/materialize.min.css">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>

    <!-- NAVBAR -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img class="logo-image" src="../public/images/homepage/communityConnectLogo.png"
                    alt="Community Connect Logo">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Homepage</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/directory">Our Members</a></li>
                <li><a href="/forum">Our Forum</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- RESPONSIVE SIDENAV -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Homepage</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/directory">Our Members</a></li>
        <li><a href="/forum">Our Forum</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <main>
        <!-- HEADLINE -->
        <div class="row headline-container">
            <div class="col s10 offset-s1 m8 offset-m1 l6 offset-l1 headline-text-container">
                <div class="title-container">
                    <div class="bolder-container">
                        <h1>comm<span class="bold">unity</span> connect</h1>
                    </div>
                </div>
                <div class="headline">
                    <h2>Let’s Care Together:
                        Fostering collaboration to create a greater impact!</h2>
                </div>

                <div class="button-container">
                    <a class="waves-effect waves-light btn" id="events-button">Find Events</a>
                    <a class="waves-effect waves-light btn" id="forum-button">Forums</a>
                </div>

            </div>
        </div>

        <!-- MISSION STATMENT -->
        <div class="row mission-container">
            <div class="col s10 offset-s1 l7 offset-l1 mission-text-container row">
                <p class="col s11 mission-statement">Community Connect is an innovative networking and events
                    application which is commited to connecting non-profits in our local communities. We offer an
                    intuitive dashboard with events, non-profits, and forums.</p>
                <div class="larger-statement-container col s10 offset-s1 row">
                    <div class="tilda-container col s2">
                        ~
                    </div>
                    <div class="larger-statement col s10">Community Connect will connect you and your company to other
                        passionate individuals who are dedicated to their cause.</div>
                    <div class="mission-button-container col s10 offset-s2">
                        <a class="waves-effect waves-light btn transparent" id="member-directory-button">Browse Our
                            Members</a>
                    </div>
                </div>
            </div>
            <div class="col l4 hide-on-med-and-down mission-image-container">
                <img class="mission-image" src="../public/images/homepage/volunteerphoto1.png"
                    alt="volunteer with a child hold hands">
            </div>
        </div>

        <!-- CAROUSEL SECTION -->
        <div class="row carousel-section">
            <div class="carousel carousel-slider center">
                <div class="carousel-fixed-item">
                    <a onclick="prev()" class="prev btn-floating btn waves-effect waves-light transparent"><i
                            class="fas fa-chevron-left">
                            < </i></a>

                    <a onclick="next()" class="next btn-floating btn waves-effect waves-light transparent"><i
                            class="fas fa-chevron-right">></i></a>
                </div>

                <div class="carousel-item item-1 black-text row" href="#two!">
                    <div class="col s10 offset-s1 row carousel-item-container">
                        <div class="col m6 hide-on-small-only">
                            <img class="carousel-image" src="../public/images/homepage/volunteerimage2.png"
                                alt="girl pointing to her shirt with the word volunteer">
                        </div>
                        <div class="col s12 m6 carousel-text-container">
                            <h3>Find Local Non-Profit Events Near You</h3>
                            <p class="carousel-desc-text">Collaborate with Non-Profits in your area and work to make a
                                difference together.</p>
                            <p class="carousel-desc-text">Create your own events and invite other organizations in your
                                area!</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item-2 black-text row" href="#three!">
                    <div class="col s10 offset-s1 row carousel-item-container">
                        <div class="col m6 hide-on-small-only">
                            <img class="carousel-image" src="../public/images/homepage/volunteerimage3.png"
                                alt="girl pointing to her shirt with the word volunteer">
                        </div>
                        <div class="col s12 m6 carousel-text-container">
                            <h3>Speak With Like-minded People</h3>
                            <p class="carousel-desc-text">Utilize our forums to discuss the issues facing the non-profit
                                sector.</p>
                            <p class="carousel-desc-text">Together we can make a difference in our world.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item-3 black-text row" href="#four!">
                    <div class="col s10 offset-s1 row carousel-item-container">
                        <div class="col m6 hide-on-small-only">
                            <img class="carousel-image" src="../public/images/homepage/volunteerimage4.png"
                                alt="girl pointing to her shirt with the word volunteer">
                        </div>
                        <div class="col s12 m6 carousel-text-container">
                            <h3>Plan Events and Find Other Events in Your Area</h3>
                            <p class="carousel-desc-text">Put together an event with your team and share it with the
                                non-profit world.</p>
                            <p class="carousel-desc-text">Find events near you and explore the non-profit world!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- DIVIDER SECTION -->
        <div class="divider-section">
            <div class="divider-content-container">
                <h4>Let's Care Together</h4>
                <img class="larger-logo" src="../public/images/homepage/communityConnectLogo.png" alt="logo">
            </div>
        </div>

        <!-- LINKS SECTION -->
        <div class="row links-section">
            <div class="col s4 link-1">
                <h3 class="links-section-text">Find Your People</h3>
            </div>
            <div class="col s4 link-2">
                <h3 class="links-section-text">Find an Event!</h3>
            </div>
            <div class="col s4 link-3">
                <h3 class="links-section-text">Browse Our Forums</h3>
            </div>
        </div>

        <!-- FOOTER -->

        <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <p class="white-text text-lighten-4">Please let us know your feedback or if you have any questions!</p>
                  <a class="waves-effect waves-light btn" id="contact-us-button">Contact Us!</a>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Directory</h5>
                  <ul>
                    <li><a class="white-text text-lighten-3" href="#!">Homepage</a></li>
                    <li><a class="white-text text-lighten-3" href="#!">Events</a></li>
                    <li><a class="white-text text-lighten-3" href="#!">Members</a></li>
                    <li><a class="white-text text-lighten-3" href="#!">Forum</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              2024 Community Connect
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>
            </div>
          </footer>

    </main>
    <!-- MATERIALIZE JS and JQUERY -->
    <script src="../public/js/jquery-3.7.1.slim.min.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
        // SIDENAV INIT
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
    <script src="../public/js/carousel.js"></script>
</body>

</html>