<!-- REGISTER COMPANY SECTION -->
<div class="row login-section">
    <div class="col s12 m8 l9 login-form-container">

        <!-- REGISTER FORM -->
        <div class="title-container" id="login-title">
            <div class="bolder-container">
                <h1><span class="bold">Register</span> Your Company</h1>
            </div>
        </div>

        <form id="register-form" class="row login-form">
            <div class="input-field col s10 offset-s1">
                <input id="company-name" type="text" class="validate">
                <label for="company-name">Company Name</label>
            </div>
            <div class="input-field col s10 offset-s1">
                <input id="company-cause" type="text" class="validate">
                <label for="company-cause">Cause</label>
            </div>
            <div class="input-field col s5 offset-s1">
                <input id="primary-city" type="text" class="validate">
                <label for="primary-city">Primary City</label>
            </div>
            <div class="input-field col s5">
                <input id="primary-state" type="text" class="validate">
                <label for="primary-state">Primary State Initals</label>
            </div>
            <div class="input-field col s10 offset-s1">
                <input id="company-key" type="text" class="validate">
                <label for="company-key">Company Key</label>
            </div>
            <div class="button-container col s12 m10 offset-m1">
                <button id="register-company-button" class="waves-effect waves-light btn yellow-button" type="submit"
                    form="register-form">Register Company</button>
                <a href="/login" id="login" class="login">Already Have Account? Log In Here!
                </a>
            </div>
        </form>
    </div>
{{> options}}
</div>